<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matched - Access Granted</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/matchedstyle.css') }}">
</head>
<body>

    
    <header>
        <h1 class="logo">Shouryanga</h1>
        <h1 class="title">Secure Access</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </header>

    
    <div class="popup">
        <div class="popup-content">
            <h2>Access Granted
            </h2>
            <h3>Welcome to our Community</h3>
            <h4>Have a great day sir/mam</h4>
            <h5>Thankyou!</h5>
        </div>
    </div>

</body>
</html>
