<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profilestyle.css') }}">
</head>
<body>
    <header>
        <h1 class="logo">Shouryanga</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="profile-card">
            <img src="{{ url_for('static', filename='images/unisex.jpg') }}" alt="User Avatar">
            <h2>Profile</h2>
            
            <p><strong>Email:</strong> {{admin_email}}</p>
            
            <button onclick="location.href='{{ url_for('logout') }}'">Logout</button>
        </div>
    </main>
</body>
</html>
