body {
    font-family: cursive;
    background-color: whitesmoke; 
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    background-color: #6B4226; 
    color: white;
    padding: 10px 20px; 
    font-size: 22px; 
    font-family: cursive; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    height: 70px;
}


.logo {
    position: absolute;
    left: 20px;
    font-size: 22px;
    font-weight: bold;
}


header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    flex-grow: 1; 
}


nav {
    position: absolute;
    right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}


.dialog-box {
    background-color: white;
    padding: 30px;
    margin: 50px auto;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border: 3px solid #6B4226; 
    margin-top: 50px; 
    font-family: cursive;
}


input[type="text"] {
    width: 90%;
    padding: 12px;
    margin: 15px 0;
    border: 2px solid #6B4226; 
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #6B4226; 
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    font-family: cursive;
}

button:hover {
    background-color: #57351F; 
}


#otp-display {
    font-size: 22px;
    font-weight: bold;
    color: #6B4226; 
    margin-top: 15px;
    padding: 10px;
    border: 2px solid #6B4226;
    display: inline-block;
    border-radius: 5px;
    background-color: #FAEBD7; 
    text-align: center;
}


.flash {
    display: block;
    width: 50%;
    margin: 20px auto; 
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash.danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.flash.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}
